

body {
    padding:  50px;
    box-sizing: border-box;
    margin: 50px;
    align-items: center;
}

  .Record {
    width: max-content;
  }
  table {
    width: 100%;
  }
 table, th, td{
  padding: 14px 18px;
  border: 1px solid gray;
  border-collapse: collapse;
}

td {
  text-align: left;
}
.update {
  margin-left: 30%;
  margin-right: 30%;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 8px;
  padding: 40px;
}